.content
  .content__header.clearfix
    .content__header--center
      %ul
        %li.content__header--center--search
          = link_to '探す'
        %li.content__header--center--like 
          = link_to 'いいね'
        %li.content__header--center--post
          = link_to '投稿'
        %li.content__header--center--page 
          = link_to 'マイページ'
  .content__main
    = image_tag 'header_bg.jpg'
    %h1.text-message sサイズだけの服を探そう！
.content__bottom
  .content__bottom--cordinate
    %span コーディネイト一覧
    .content__bottom--cordinate--box
      .content__bottom--cordinate--box--image
        = image_tag 'sample.jpg'
      .content__bottom--cordinate--box--img
