.content
  .content__header
    .content__header--center
      %ul
        %li.content__header--center--search
          = link_to '探す'
        %li.content__header--center--like 
          = link_to 'いいね'
        %li.content__header--center--post
          = link_to '投稿'
        %li.content__header--center--page 
          = link_to 'マイページ'
  .content__main
    = image_tag 'header_bg.jpg'
    %h1.text-message 
.content__bottom
  .content__bottom--cordinate
    %span コーディネイト一覧
    .content__bottom--cordinate--list
      .content__bottom--cordinate--list--box
        .content__bottom--cordinate--list--box--image
          = image_tag 'header_bg.jpg'
        .content__bottom--cordinate--list--box--profile.clearfix
          .content__bottom--cordinate--list--box--profile--sub
            %p.img{:style => "background-image: none;"} 画像
          .content__bottom--cordinate--list--box--profile--main
            .content__bottom--cordinate--list--box--profile--main--name
              %span takato
            .content__bottom--cordinate--list--box--profile--main--txt
              %span 163cm
          .content__bottom--cordinate--list--box--profile--main--like a


