<!DOCTYPE html>
<html>
  <head>
    <title>SmallShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 </div>
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
