!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SmallShop
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
    .container
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      = yield
